/* 
.test {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
} */

a {
  color: #333;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 6px 0;
  margin-right: 1rem;
  position: relative;
}

a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #333;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after {
  width: 100%;
  left: 0;
}

.postsWrapper {
  margin-top: 2rem;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 49% 49%;
  grid-gap: 0 2%;
}

.post {
  position: relative;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.6);
  height: 15rem;
  max-height: 15rem;
  border-radius: 10px;
  padding: 0.8rem 1rem;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.post h3 {
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
}
.post p {
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

.author {
  font-size: 0.6rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.author span {
  padding: 0 0.4rem;
}

.postButton {
  height: 18%;
  min-height: 18%;
  text-align: right;
  width: 100%;
}
.postButton button {
  height: 100%;
  width: 35%;
  border: none;
  border-radius: 5px;
  background: rgba(136, 53, 53, 0.7);
  color: white;
  font-weight: bolder;
}
.post:hover {
  opacity: 0.8;
}

.readmore {
  margin-right: 0;
  width: 100%;
  color: white !important;
}

.readmore:hover:after {
  width: 0;
}

@media screen and (max-width: 900px) {
  .post {
    position: relative;
    height: 18rem;
    max-height: 18rem;
  }
}

@media screen and (max-width: 768px) {
  .postsWrapper {
    display: grid;
    grid-template-columns: auto;
    height: 100%;
  }
  .post {
    position: relative;
    height: 15rem;
    max-height: 15rem;
    padding: 0.8rem;
  }
  h3 {
    font-size: 1rem;
  }

  p {
    font-size: 0.8rem;
  }

  .author {
    font-size: 0.5rem;
  }
  .readmore {
    color: white !important;
    font-size: 0.7rem;
  }
}
